* {
margin: 0%  
 
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hexagon{
  width: 500px;
  -webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
  clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );

}


.App-link {
  color: #61dafb;
}






/* /// FONT //// */

@font-face {
  font-family: beesFont;
  src: url("../src/assets/fonts/Bees\ Burts.ttf")
}

h2 {
  color: #e2ad22;
  font-family: beesFont;
  font-size: 69px;
  padding-bottom: -100px;
  width: 7%;
}

.beeHead {
  height: 220px;
  width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



/* --------------- HERO START -------------------- */
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(130, 129, 129);
  background-image:  url("../src/assets/images/HeroImage.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.Hero {
  font-size: 6.25rem;
  font-weight: 100;
  line-height: 17.5rem;
  position: absolute;
  font-family: gellatio, sans-serif;
  text-align: center;
  
}

.heroText {
 font-family: beesFont;
 color: rgb(226 173 34);
 font-size: 80px;
 height: 2px;
}

/* ------------------ HERO END ------------------------ */









/* ---------------------  WELCOME START ----------------------------- */
.welcomeSection {
  background: rgb(130, 129, 129);

}
/* ----------------------  WELCOME END -------------------------------- */






/* ---------------------   HONEY START ----------------------------- */


.honeySection {
  background-image:linear-gradient(90deg, rgba(130, 129, 129, 0.9) 0%, rgba(130, 129, 129, 0.7) 100%),  url("../src/assets/images/BeeHead.svg")
 
  
}

.hexagonHoneyContainer {
  height: 1900px;
}


img {
  height: 600px;
  width: 600px;
}


.yellowCombOne {
  position: relative;
    left: 203px;
    top: -300px;
}

  .fourOzHoneyImage {
    position: relative;
    left: 728px;
    top: 307px;
}

.yellowCombTwo {
  position: relative;
  left: 472px;
  top: -1046px;
}

  .honeyFilterDiv {
    position: relative;
    left: -50px;
    top: -436px;
}


.hexagonOneOzHoney{
  position: relative;
    left: 725px;
    top: -1783px
}

.yellowCombThree {
  position: relative;
  left: 209px;
  top: -1176px;
}

.beeWithHoneyJar{
  position: relative;
  left: 409px;
  top: -1176px;
}



/* ----------------------  HONEY END -------------------------------- */





/* ---------------------   CHAPSTICK SECTION START ----------------------------- */

.chapstickSection{
  background-image:linear-gradient(90deg, rgba(130, 129, 129, 0.9) 0%, rgba(130, 129, 129, 0.7) 100%),  url("../src/assets/images/BeeHead.svg")
}
.chapstickImageOne {
    position: relative;
    left: -31px;
    top: -637px;
}

.chapstickCombOne {
  left: 534px;
  position: relative;
  top: 4px;
}

.chapstickImageTwo {
  left: 781px;
  position: relative;
  top: -732px;
}

.chapstickCombTwo {
  left: 264px;
  position: relative;
  top: -1335px;
}

.chapstickImageThree {
  left: 6px;
  position: relative;
  top: -1465px;
}

.chapstickCombThree {
  left: 526px;
  position: relative;
  top: -2073px;
}


/* ----------------------   CHAPSTICK END -------------------------------- */




/* ---------------------    START ----------------------------- */
/* ----------------------   END -------------------------------- */




/* ---------------------    START ----------------------------- */
/* ----------------------   END -------------------------------- */





/* ---------------------    START ----------------------------- */
/* ----------------------   END -------------------------------- */










@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  
/* -------- Hero Section Start ---------- */
  .heroText {
    font-family: beesFont;
    color: rgb(226 173 34);
    font-size: 32px;
    height: 2px;
}

/* -------- Hero Section End ---------- */






/* -------- Honey Section Start ---------- */

  .honeySection{
    background-size: 100%;
    background-position: 20%;
    height: 100vh;
    
  background-image:linear-gradient(90deg, rgba(130, 129, 129, 0.9) 0%, rgba(130, 129, 129, 0.7) 100%),  url("../src/assets/images/BeeHead.svg")
  }

  .hexagonHoneyContainer {
   position: relative;
  top: 200px;
  }

  .honeyTextCard {
height: 150px
  }

  /* // honey text // */
  .honeyText {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: .5rem !important;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.6);
}

.css-vwn4t2-MuiPaper-root-MuiCard-root {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  max-width: 700px;
  margin-left: 20px;
  margin-right: 20px;
}

  .hexagon{
    height: 120px;
    width: 120px;
    -webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
    clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
   
  }



  .beeHead {
    height: 100px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h2 {
  font-family: beesFont;
  color: #e2ad22;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-size: 26px;
  top: 20px !important;
}



  img{
    height: 120px;
    width: 120px;
  }

  .fourOzHoneyImage {
    position: relative;
    left: 189px;
    top: -32px;
}

.yellowCombOne {
  position: relative;
  left: 56px;
  top: -151px;
}

.yellowCombTwo {
  position: relative;
  left: 123px;
  top: -292px;
}

.honeyFilterDiv {
  position: relative;
  left: -10px;
  top: -171px;
}

.hexagonOneOzHoney {
  position: relative;
  left: 189px;
  top: -430px;
}

.yellowCombThree {
  position: relative;
  left: 56px;
  top: -312px;
}

.hexagonHoneyContainer {
  height: 10px;
}




/* -------- Honey Section End ---------- */






/* -------- Chapstick Section Start ---------- */
.chapstickH2{
  font-family: beesFont;
  color: #e2ad22;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 43%;
  font-size: 26px;
  top: 20px !important;
}

/* //chapstick text// */
.css-r40f8v-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: .5rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
}


.chapstickCombOne {
  position: relative;
  left: 163px;
  top: 69px
}

.chapstickImageOne {
  position: relative;
  left: 34px;
  top: -51px;
}

.chapstickCombTwo {
  position: relative;
  left: 101px;
  top: -192px;
}

.chapstickImageTwo {
  position: relative;
  left: 230px;
  top: -72px;
}


.chapstickImageThree {
  position: relative;
  left: 35px;
  top: -215px;
}

.chapstickCombThree {
  position: relative;
  left: 166px;
  top: -332px;
}

/* -------- Chapstick Section Start ---------- */
}